apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: eventbus-dev
  namespace: argocd
spec:
  generators:
    - list:
        elements:
          - cluster: np-dev
            name: dev
            version: 16.0.14

  template:
    metadata:
      name: '{{cluster}}-eventbus'
    spec:
      project: default

      destination:
        namespace: dev
        name: '{{cluster}}'

      syncPolicy:
        automated:
          selfHeal: true
          prune: false
        syncOptions:
          - Validate=true
          - CreateNamespace=true
          - PrunePropagationPolicy=foreground
          - PruneLast=true

      source:
        repoURL: https://charts.bitnami.com/bitnami
        chart: rabbitmq
        targetRevision: '{{version}}'
        helm:
          values: |
            fullnameOverride: eventbus

            global:
              security:
                allowInsecureImages: true

            image:
              registry: docker.io
              repository: bitnamilegacy/rabbitmq
              tag: 4.1.3-debian-12-r1
              pullPolicy: IfNotPresent

            auth:
              username: guest
              password: guest
              enableLoopbackUser: false

            plugins: "rabbitmq_management rabbitmq_peer_discovery_k8s"

            extraConfiguration: |
              loopback_users = none

            persistence:
              enabled: true
              size: 1Gi

            podSecurityContext:
              enabled: true
              fsGroup: 1001

            containerSecurityContext:
              enabled: true
              runAsUser: 1001
              runAsGroup: 1001
              runAsNonRoot: true
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false

            livenessProbe:
              enabled: false

            readinessProbe:
              enabled: false

            startupProbe:
              enabled: false


            customLivenessProbe:
              exec:
                command:
                  - sh
                  - -c
                  - rabbitmq-diagnostics -q ping
              initialDelaySeconds: 120
              periodSeconds: 30
              timeoutSeconds: 20
              successThreshold: 1
              failureThreshold: 6

            customReadinessProbe:
              exec:
                command:
                  - sh
                  - -c
                  - rabbitmq-diagnostics -q check_running
              initialDelaySeconds: 30
              periodSeconds: 10
              timeoutSeconds: 20
              successThreshold: 1
              failureThreshold: 6

            customStartupProbe:
              exec:
                command:
                  - sh
                  - -c
                  - rabbitmq-diagnostics -q ping
              initialDelaySeconds: 10
              periodSeconds: 10
              timeoutSeconds: 5
              successThreshold: 1
              failureThreshold: 30


