apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: redis-dev
  namespace: argocd
spec:
  generators:
    - list:
        elements:
          - cluster: np-dev
            name: dev
            version: 24.1.0
  template:
    metadata:
      name: '{{cluster}}-redis'
    spec:
      project: default
      destination:
        namespace: dev
        name: '{{cluster}}'
      syncPolicy:
        automated:
          selfHeal: true
          prune: false
        syncOptions:
          - Validate=true
          - CreateNamespace=true
          - PrunePropagationPolicy=foreground
          - PruneLast=true
      source:
        repoURL: https://charts.bitnami.com/bitnami
        targetRevision: '{{version}}'
        chart: redis
        helm:
          values: |
            fullnameOverride: "redis"

            global:
              security:
                allowInsecureImages: true

            image:
              registry: docker.io
              repository: bitnamilegacy/redis
              tag: "8.2.1-debian-12-r0"
              pullPolicy: IfNotPresent

            architecture: standalone

            auth:
              enabled: false

            volumePermissions:
              enabled: true

            master:
              service:
                type: ClusterIP
                ports:
                  redis: 6379

            persistence:
              enabled: true
              size: 1Gi
